<div class="img"><img src="../../assets/img/Asset 30.webp" alt=""></div>

<div class="content-descargas">
    <h1>Zona de descargas</h1>
    <img  src="../../assets/img/Asset 29.webp" alt="">
    <div class="descarga-content">

        <div class="descargas">
            <a href="https://apps.apple.com/mx/app/ceiba2/id1008547339" download><img  src="../../assets/img/unnamed.webp" alt=""></a>
            <h1>CEIBA II - IOS<br/> <span>Aplicacion de monitoreo en tiempo real</span></h1>
        </div>
        <div class="descargas">
            <a href="https://play.google.com/store/apps/details?id=com.googlemap.ceibaii" download><img  src="../../assets/img/unnamed.webp" alt=""></a>
            <h1>CEIBA II - ANDROID<br/> <span>Aplicacion de monitoreo en tiempo real</span></h1>
        </div>
</div>
</div>

