<div id="footer" class="content">
<footer>
    <div class="footer">
        <div class="content-info">
            <div class="info">
                <h1>Localización</h1>
                <p>Calle central #31</p>
                <p>Col. Ciudad Aztlan, Tonalá, Jalisco</p>
            </div>
            <div class="info">
                <h1>Correo</h1>
                <p>{{correo}}</p>
                <p>{{correo2}}</p>
            </div>
            <div class="info">
                <h1>Contacto</h1>
                <p>Soporte Técnico: +52 3326661297</p>
                <p>Ventas: +52 3333332106</p>
            </div>
        </div>
        <div class="info-server">
            <h1>© 2024 Smart Systems. Todos los derechos reservados.</h1>
        </div>
    </div>
    <div class="content-logo-maps">
        <a href="https://www.facebook.com/Smartsystems3"><img src="../../assets/img/Asset 20.webp"  alt=""></a> 
        <a href="https://www.instagram.com/smartsystems03/"><img src="../../assets/img/Asset 22.webp" alt=""></a>
        <a href="https://api.whatsapp.com/send/?phone=3326661297&text=Hola%21+Quiero+pedir+mas+informes+sobre+Smart+Systems.&type=phone_number&app_absent=0"><img src="../../assets/img/Asset 23.webp" alt=""></a>
        <a href="https://www.youtube.com/channel/UCCh-CXyh6LdKmqb8vNoUE2A"><img src="../../assets/img/Asset 14.webp" alt=""></a>
    </div>
</footer>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d785.0450622418332!2d-103.28131173162511!3d20.615618006144352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b3e1ad12483f%3A0x322d9ef988da4a94!2sSmart%20Systems!5e0!3m2!1ses-419!2smx!4v1709656611656!5m2!1ses-419!2smx" width="99.5%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>