<div id="footer" class="content">
<footer>
    <div class="footer">
        <div class="content-info">
            <div class="info">
                <h1>Localizacion</h1>
                <p>Calle central #31</p>
                <p>Col.Ciudad Aztlan Tonala Jalisco</p>
            </div>
            <div class="info">
                <h1>Correo</h1>
                <p>{{correo}}</p>
                <p>{{correo2}}</p>
            </div>
            <div class="info">
                <h1>Contacto</h1>
                <p>Soporte Tecnico: +52 3326661297</p>
                <p>Ventas: +52 3333332106</p>
            </div>
        </div>
        <div class="info-server">
            <h1>© 2024 Smart Systems. Todos los derechos reservados.</h1>
        </div>
    </div>
    <div class="content-logo-maps">
        <a href="https://www.facebook.com/Smartsystems3"><img src="../../assets/img/Asset 20.webp"  alt=""></a> 
        <a href="https://www.instagram.com/smartsystems03/"><img src="../../assets/img/Asset 22.webp" alt=""></a>
        <a href="https://api.whatsapp.com/send/?phone=3326661297&text=Hola%21+Quiero+pedir+mas+informes+sobre+Smart+Systems.&type=phone_number&app_absent=0"><img src="../../assets/img/Asset 23.webp" alt=""></a>
        <a href="https://www.youtube.com/channel/UCCh-CXyh6LdKmqb8vNoUE2A"><img src="../../assets/img/Asset 14.webp" alt=""></a>
    </div>
</footer>
</div>