<app-navbar></app-navbar>

<div class="content">
        <div class="content-intern">
            <div class="text">
                <h1>Contáctanos.</h1>
                <h2>¡Estamos comprometidos con la integridad de tus flotillas! Nuestro equipo se pondrá en contacto contigo a la brevedad para ofrecerte:</h2>
                <span>La Seguridad de Verlo Todo!</span>
                <p>Tu información está segura con nosotros y será utilizada únicamente para contactarte en relación a nuestras soluciones de seguridad.</p>
            </div>
            <div class="formulario">
                <form action="/my-handling-form-page" method="post">
                    <ul>
                      <li>
                        <!-- <label for="name">Correo:</label> -->
                        <input placeholder="Correo:" type="email" id="name" name="user_name"/>
                      </li>
                      <li>
                        <!-- <label for="name">Telefono:</label> -->
                        <input placeholder="Telefono:" type="text" id="name" name="user_name"/>
                      </li>
                      <li>
                        <!-- <label for="mail">Nombre:</label> -->
                        <input placeholder="Nombre:" type="text" id="mail" name="user_mail"/>
                      </li>
                      <li>
                        <!-- <label for="msg">Comentarios:</label> -->
                        <textarea placeholder="Comentarios:" id="msg" name="user_message"></textarea>
                      </li>
                      <a href="https://api.whatsapp.com/send/?phone=3326661297&text=Hola%21+Quiero+pedir+mas+informes+sobre+Smart+Systems.&type=phone_number&app_absent=0">Enviar</a>
                    </ul>
                  </form>
            </div>
        </div>
        
    </div>