<app-navbar></app-navbar>
<body>
    <h1>Nosotros</h1>

    <div class="content-first">
        <img id="img1" src="../../assets/img/Asset 4.png" alt="">

        <div class="card" style="--clr:#00e4f1">
            <div class="imgBx"><img src="../../assets/img/Asset 1.png" alt=""></div>
            <div class="content">
                <h2>Mision</h2>
                <p>Ofrecemos soluciones de Videovigilancia Móvil personalizadas, utilizando tecnología innovadora para controlar flotillas y vehículos particulares. Nuestra meta es aumentar la seguridad, eficiencia y calidad del servicio para pasajeros y operadores, garantizando entornos de viaje seguros.</p>
            </div>
        </div>
        <div class="card"style="--clr:#00e4f1">
            <div class="imgBx"><img src="../../assets/img/Asset 2.png" alt=""></div>
            <div class="content">
                <h2>Vision</h2>
                <p>Ser líderes en videovigilancia con inteligencia artificial en el transporte, reconocidos por innovación, calidad y fiabilidad. Buscamos transformar la seguridad en el transporte, contribuyendo a entornos de viaje más seguros, eficientes y conectados globalmente.</p>
            </div>
        </div>
        <div class="card "style="--clr:#00e4f1">
            <div class="imgBx"><img src="../../assets/img/Asset 3.png" alt=""></div>
            <div class="content">
                <h2>Valores</h2>
                <p>Innovación constante, calidad en todo, confianza a través de transparencia e integridad, prioridad en seguridad, y fomentar la colaboración tanto dentro de la empresa como con clientes y socios comerciales.</p>
            </div>
        </div>
        <h1 id="itallic" >La Seguridad de Verlo Todo!</h1>

    </div>

</body>
<app-footer></app-footer>
