<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"><div class="content">
    <div class="content">
        <div class="contetn_intern">   
    <nav class="navbar" >
        <img  loading="lazy" class="logo" src="../../assets/img/iconos webICO.ico" alt="">
        <label class="labe_hamburguesa" for="menu_hamburguesa">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                fill="currentColor"
                class="list_icon"
                viewBox="0 0 16 16">
                <path
                    fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                />
            </svg>
        </label>
        <input type="checkbox" name="" id="menu_hamburguesa">

        <ul class="ul_links">
            <label class="labe_hamburguesa" for="menu_hamburguesa">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                  </svg>
             </label>

            <li class="li_links one">
                <a href="/" class="link">Inicio</a>
            </li>
            <li class="li_links" (click)="toggleMenu()">
                <a href="/" class="link">Soluciones</a>
            </li>
            <li class="li_links"  (click)="toggleMenu()">
                <a href="/" class="link ">¿Como lo hacemos?</a>
            </li>
            <li class="li_links">
                <a href="#/cloud" class="link ">Smart Cloud</a>
            </li>
            <li class="#">
                <a href="#/ayuda" class="link ">Centro de ayuda</a>
            </li>
            <li class="li_links">
                <a href="#/contacto" class="link ">Contactos</a>
            </li>
            <li class="li_links">
                <a href="#/nosotros" class="link ">Nosotros</a>
            </li>
        </ul>
    </nav>
    <div class="nav_web fixed-top">
        <a href=""><img loading="lazy" class="logo_web" src="../../assets/img/logo2.webp" alt=""></a>
        <ul>
            <li  id="target" ><a href="/">Inicio</a></li>
            <li  id="target" ><a href="/">Soluciones</a></li>
            <li  id="target" ><a href="/">¿Como lo hacemos?</a></li>
            <li  id="target" ><a href="#/cloud">Smart Cloud</a></li>
            <li  id="target" ><a href="#/ayuda">Centro de ayuda</a></li>
            <li  id="target" ><a href="#/contacto">Contacto</a></li>
            <li  id="target" ><a href="#/nosotros">Nosotros</a></li>
     
        </ul>
     </div>
    </div>
</div>


