
.navbar{
    display: none;
}

.nav_web{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    background-color: #f1f1f1f1;
    text-align: center;
    z-index: 10;

}
.nav_web img{
    width: 90%;

}
.logo_web{
    width: 10%;
}

.nav_web ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 1%;
}
.nav_web  li, a{
    list-style: none;
    text-decoration: none;
    color: var(--color-black);
    font-size: 95%;
    font-weight: 500;
}
.nav_web ul li a:hover{
    color: var(--color-blue-second);
    transition: all 1s;
}
@media(max-width: 1110px){
    .navbar {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        flex-wrap:wrap;
        position: fixed;
        z-index: 9999;
        background-color: #f1f1f1;
    }
    svg{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #042144(34, 29, 75);
    }
    #menu_hamburguesa{
        display: none;
        color: black;
        width: 100%;
    }
    
    #menu_hamburguesa:checked + .ul_links{
        height: calc(200vh - 80px); 
    }
  
  
    .logo {
        width: 20%;
    }
    .ul_links {
        padding: 0;
        margin: 0;
        display: flex;
        position: fixed;
        width: 100%;
        top: -50%;
        background:  #04214491;
        backdrop-filter: blur(15px);
        left: 0;
        height: 0;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        transition: all .3s;
        font-family: "Montserrat", sans-serif;
        z-index: 9999;
    }
    .link {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: 400;
    }
    .nav_web{
        display: none;
        position: fixed;
    }
    
 
        
           
         
  }
  
  
 
  
  
 