    <div class="content">
        <div class="contetn_intern">   
    <nav class="navbar" >
        <img  loading="lazy" class="logo" src="../../assets/img/logo2.webp" alt="">
        <label class="labe_hamburguesa" for="menu_hamburguesa">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="2" stroke="#042144" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
              </svg>
        </label>
        <input type="checkbox" name="" id="menu_hamburguesa">

        <ul class="ul_links">
            <label class="labe_hamburguesa" for="menu_hamburguesa">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                  </svg>
             </label>

            <li class="li_links one">
                <a href="/" class="link">Inicio</a>
            </li>
            <li class="li_links">
                <a href="#/cloud" class="link ">Smart Cloud</a>
            </li>
            <li class="#">
                <a href="#/ayuda" class="link ">Centro de ayuda</a>
            </li>
            <li class="li_links">
                <a href="#/contacto" class="link ">Contactos</a>
            </li>
            <li class="li_links">
                <a href="#/nosotros" class="link ">Nosotros</a>
            </li>
        </ul>
    </nav>


    <div class="nav_web">
    <a class="logo_web" href=""><img  loading="lazy"  src="../../assets/img/logo2.webp" alt=""></a>
        <ul>
            <li  id="target" ><a routerLink="/">Inicio</a></li>
            <!-- <li  id="target" ><a routerLink="/">Soluciones</a></li> -->
            <!-- <li  id="target" ><a routerLink="/">¿Como lo hacemos?</a></li> -->
            <li  id="target" ><a routerLink="/cloud">Smart Cloud</a></li>
            <li  id="target" ><a href="#/ayuda">Centro de ayuda</a></li>
            <li  id="target" ><a routerLink="/contacto">Contacto</a></li>
            <li  id="target" ><a routerLink="/nosotros">¿Como lo hacemos?</a></li>
     
        </ul>
     </div>
    </div>
</div>


