<app-navbar></app-navbar>
<div class="content">
    <img class="img1" src="../../assets/img/Asset 26.webp" alt="">
    <div class="header">
        <div class="header-text">
            <h1>Smart Cloud!</h1>
            <h2>plataforma de monitoreo en tiempo real</h2>
        </div>
        <div class="header-img">
            <img class="img2" src="../../assets/img/Asset 25.webp" alt="">
        </div>
    </div>

    <div class="content-central">
        <div class="content second">
            <!-- <img class="img4" src="../../assets/img/Asset 27.webp" alt=""> -->
            <div class="text-central">
                <h1>¡Conoce lo que <span>Smart </span> <span id="span-withe" >Cloud</span><br/> tiene para ti!</h1>
               <p>Descubre las Soluciones Innovadoras de Smart Cloud para Potenciar Tu Negocio</p>
           </div>
           <img class="img3" src="../../assets/img/Artboard-31.webp" alt="">
        </div>           
    </div>
    <div class="content-central-contenido">
        <div class="content-video noColor pTop">
            <div class="text">
                <h1>Gestion de flotas</h1>
                <p>El apartado de Gestión de Flotas ofrece una plataforma ágil y eficiente para realizar búsqueda rápida, así como agregar o eliminar flotas con facilidad. Además, permite llevar un registro detallado del mantenimiento de las flotas, brindando un control completo sobre los activos vehiculares.</p>
            </div>
            <iframe  id="frameTop" width="450" height="250" src="https://www.youtube.com/embed/IOob9o3_fDY?si=MgEZeSjjfgvc8vei&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="content-video color">
            <img class="img-frame" src="../../assets/img/background smartcloud 1.webp" alt="">
            <iframe width="450" height="250" src="https://www.youtube.com/embed/37kakfBvn_4?si=JjZXMaQW0nsXpHaC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <div class="text">
                <h1>PLAYBACK</h1>
                <p>Playback ofrece reproducción de dispositivos, biblioteca y búsqueda de videos, solicitud fuera de línea y seguimiento del estado de la solicitud, junto con funciones auxiliares para una experiencia de video completa.</p>
            </div>
        </div>
    </div>

    <div class="content-central-contenido">
        <div class="content-video noColor">
            <div class="text ">
                <h1>MONITOREO EN TIEMPO REAL</h1>
                <p>Monitoreo en Tiempo Real proporciona una experiencia de vigilancia completa con configuración de página, funciones auxiliares para la vista en vivo, configuración de alertas y gestión de notificaciones, asegurando un control eficiente y oportuno.</p>
            </div>
            <iframe width="450" height="250" src="https://www.youtube.com/embed/7gB24ZUjpKw?si=MUikALfQrhYdK-9X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
        <div class="content-video color">
            <img class="img-frame" src="../../assets/img/Asset 30.webp" alt="">
            <iframe width="450" height="250" src="https://www.youtube.com/embed/I6J5BDKjN54?si=i7Mu3oStOMkkBgwG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <div class="text">
                <h1>INFORME DE CONDUCCION</h1>
                <p>El Informe de Conducción ofrece un análisis exhaustivo de seguridad, búsqueda operativa, alarmas personalizadas, tendencias y distribución del tiempo de eventos, junto con un informe detallado de alarmas y evidencia, asegurando una gestión precisa y eficiente de la seguridad vial.</p>
            </div>
        </div>
    </div>

    <div class="content-central-contenido">
        <div class="content-video noColor">
            <div class="text ">
                <h1>Historico GPS</h1>
                <P>
                    El Histórico GPS proporciona una visión detallada del estado final del GPS y la información básica de la flota, incluyendo el número de flota, total de vehículos, conductores, kilometraje acumulado y horas de conducción. Además, ofrece una perspectiva sobre la tendencia de alarmas por cada 100 millas recorridas.</P>
            </div>
            <iframe width="450" height="250" src="https://www.youtube.com/embed/Edju6wc5cMM?si=r9YeVD5Tpg1mCQcn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
        <!-- <div class="content-video color">
            <div class="text">
                <h1>PLAYBACK</h1>
                <p>
                    Playback ofrece reproducción de dispositivos, biblioteca y búsqueda de videos, solicitud fuera de línea y seguimiento del estado de la solicitud, junto con funciones auxiliares para una experiencia de video completa.</p>
            </div>
            <iframe width="450" height="250" src="https://www.youtube.com/embed/IOob9o3_fDY?si=MgEZeSjjfgvc8vei&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div> -->
    </div>
</div>
<app-footer></app-footer>   