*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

.heading{
color: rgb(241, 241, 241);
font-size: 60px;
text-align: center;
font-family: var(--font-size);
font-weight: 750;
background-color: #111111;
}
h3{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-size);  
}
.container-video{
display: grid;
width: 100%;
grid-template-columns: 2fr 1fr;
gap: 15px;
align-items: flex-start;
padding: 10% 5%;
background-image: url(../../assets/img/hexagon-background.jpg);
background-size: cover;
object-fit: cover;
background-repeat: no-repeat;
border-bottom: 1px solid #ffff;

}
.present-video{
    display: none;
}
.container-video .main-video{
    background-color: #0F0F0F;
    border-radius: 5px;
    padding: 10px;
}
.container-video .main-video video{
    width: 100%;
    border-radius: 5px;
}
.container-video .main-video .title{
    color: #F1F1F1;
    font-style: italic;
    font-size: var(--font-size);
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container-video .video-list{
    background: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
    background-color: #0F0F0F;
}

.vid{
opacity: 1;
z-index: 1;
}


.container-video .video-list::-webkit-scrollbar{
    width: 7px;
}
.container-video .video-list::-webkit-scrollbar-track{
background: #ccc;
border-radius: 50px;
}
.container-video .video-list::-webkit-scrollbar-thumb{
background: #665;
border-radius: 50px;
}
.container-video .video-list .vid video{
    width: 50%;
    border-radius: 5px;
}
.container-video .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    padding: 40px;
    border: 1px solid #B2CEDB;
    cursor: pointer;
}
.container-video .video-list .vid:hover{
background: #eee;
}
.container-video .video-list .vid.active{
background-color: var(--color-blue);
}
.container-video .video-list .vid.active .title{
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}

    


@media(max-width:991px){
    .container-video{
        grid-template-columns: 2fr 1fr;
        padding: 10px;
        }
           .vid h3{
            font-size: 16px;
        }
        .container-video{
       
            }
        
}
@media(max-width:768px){
    .container-video{
        grid-template-columns:1fr;
        padding: 10px;
        }
        .vid h3{
            font-size: 15px;
        }
        .container-video{
            
            }
      
}