<div class="container-video">

<div class="main-video">
    <h3 class="heading">Academia</h3>

    <div class="video">
        <video src="../../assets/videos/Dashcam - Grabación y Almacenamiento [ACTUALIZADO].mp4" controls  muted></video>
        <h3 class="title text">01.Presentacion de Dashcam.</h3>
    </div>
</div>

<div class="video-list">
    <div class="vid active " >
        <video class="present-video" src="../../assets/videos/Dashcam - Grabación y Almacenamiento [ACTUALIZADO].mp4"   muted></video>
        <h3 class="title">01.Presentacion de Dashcam.</h3>
    </div>
    <div class="vid">
        <video class="present-video" src="../../assets/videos/DashCam Plus ( _ADAS_ ) INTELIGENCIA ARTIFICIAL!.mp4"   muted></video>
        <h3 class="title">02.Dashcam Plus</h3>
    </div>
    <div class="vid">
        <video class="present-video" src="../../assets/videos/¿Qué es un Pool De Datos_ y ¿Cómo funciona_..mp4"   muted></video>
        <h3 class="title">03.Pool de datos.</h3>
    </div>
 
</div>
</div>

