<app-navbar></app-navbar>
<div class="content">
    <div class="content-circle">
        <div class="circle-img">
            <img class="one" src="../../assets/img/adas1.png" alt="">
        </div>
        <div class="circle-img">
            <img class="two" src="../../assets/img/adas2.png" alt="">
        </div>
        <div class="circle-img">
            <img class="three" src="../../assets/img/adas3.png" alt="">
        </div>
        <div class="circle-img">
            <img class="four" src="../../assets/img/adas4.png" alt="">
        </div>
        <div class="circle-img">
            <img class="five" src="../../assets/img/adas5.png" alt="">
        </div>
        <div class="circle-img">
            <img class="six" src="../../assets/img/adas6.png" alt="">      
     </div>
    
    </div>
    <div class="circle-video">
        <h1>Inteligencia Artificial<br/> ADAS & DSM</h1>
        <iframe width="450" height="250" src="https://www.youtube.com/embed/37kakfBvn_4?si=JjZXMaQW0nsXpHaC" title="YouTube video player" frameborder="0" ></iframe>            

    </div>
    <div class="circle-left">
        <div class="circle">
            <img class="seven" src="../../assets/img/adas7.png" alt="">
        </div>
        <div class="circle">
            <img class="eith" src="../../assets/img/adas8.png" alt="">
        </div>
        <div class="circle">
            <img class="ten" src="../../assets/img/adas9.png" alt="">
        </div>
    </div>
</div>
<div><app-footer></app-footer></div>
