*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
background-image: url(../../assets/img/Artboard\ 1.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
display: flex;
align-items: center;
justify-content: space-between;

}
.circle-video{
    text-align: center;
    margin-left: 9%;
    color: #f9f9f9;
}
.circle-video h1{
    font-size: 350%;
  font-weight: bold;
    color: #f9f9f9;
    text-shadow: 2px 2px 4px #000000;
}
.content-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 5%;
     margin-bottom: 2%;
     gap: 50px;
}
.content-circle img{
    width: 50%;
}
.circle-left{
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 2%;
     margin-right: 8%;
     margin-bottom: 2%;
     gap: 50px;
}
.circle-left img{
 width: 50%;
}
.circle{
    width: 100%;
}
.one{
    margin-left: 150%;
}
.one:hover{
    margin-left: 150%;
    scale:1.2;
    transition: all 2s ;
}
.two{
    margin-left: 115%;
}
.two:hover{
    margin-left: 115%;
    scale:1.2;
    transition: all 2s ;
}
.three{
    margin-left: 100%;
}
.three:hover{
    margin-left: 100%;
    scale:1.2;
    transition: all 2s ;
}
.four{
    margin-left: 100%;
}
.four:hover{
    margin-left: 100%;
    scale:1.2;
    transition: all 2s ;
}
.five{
    margin-left: 115%;
}
.five:hover{
    margin-left: 115%;
    scale:1.2;
    transition: all 2s ;
}
.six{
    margin-left: 150%;
}
.six:hover{
    margin-left: 150%;
    scale:1.2;
    transition: all 2s ;
}


.seven:hover{
    scale:1.2;
    transition: all 2s;
}
.ten:hover{
    scale:1.2;
    transition: all 2s;
}
.eith{
    margin-left:20%;
}
.eith:hover{
    scale:1.2;
    transition: all 2s;
    margin-left:20%;
}
iframe{
    margin-top: 30%;
}




