
<div class="camaras">
   
    <div class="contenido">
        <div class="text-camaras">
            <h2>Nuestros</h2>
            <h1>Beneficios</h1>
            <p>Nuestras soluciones ofrecen seguridad 24/7 y acceso remoto en tiempo real. Detecta y disuade el delito, mejora la respuesta a emergencias y optimiza la eficiencia operativa con análisis avanzados. Brindamos tranquilidad y protección en cada momento.</p>
        </div>
        <div class="contenido-cards">
            <div class="card-contenido">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#042144" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                    <path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25" />
                    <path d="M12.5 15.5l2 2" />
                    <path d="M15 13l2 2" />
                  </svg>
                <h1>Alta calidad</h1>
                <h2>Camaras de alta calidad en vigilancia.</h2>
            </div>
            <div class="card-contenido">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-face-id" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#042144" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                    <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                    <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                    <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                    <path d="M9 10l.01 0" />
                    <path d="M15 10l.01 0" />
                    <path d="M9.5 15a3.5 3.5 0 0 0 5 0" />
                  </svg>
                <h1>Reconocimiento facial</h1>
                <h2>Seguridad adicional al identificar a individuos de manera precisa.</h2>
            </div>
            <div class="card-contenido">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-augmented-reality" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#042144" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                    <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                    <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                    <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                    <path d="M12 12.5l4 -2.5" />
                    <path d="M8 10l4 2.5v4.5l4 -2.5v-4.5l-4 -2.5z" />
                    <path d="M8 10v4.5l4 2.5" />
                  </svg>
                <h1>Logistica</h1>
                <h2>Logísticas avanzadas que garantizan un monitoreo eficiente y seguro</h2>
            </div>
            <div class="card-contenido">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-openai" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#042144" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M11.217 19.384a3.501 3.501 0 0 0 6.783 -1.217v-5.167l-6 -3.35" />
                    <path d="M5.214 15.014a3.501 3.501 0 0 0 4.446 5.266l4.34 -2.534v-6.946" />
                    <path d="M6 7.63c-1.391 -.236 -2.787 .395 -3.534 1.689a3.474 3.474 0 0 0 1.271 4.745l4.263 2.514l6 -3.348" />
                    <path d="M12.783 4.616a3.501 3.501 0 0 0 -6.783 1.217v5.067l6 3.45" />
                    <path d="M18.786 8.986a3.501 3.501 0 0 0 -4.446 -5.266l-4.34 2.534v6.946" />
                    <path d="M18 16.302c1.391 .236 2.787 -.395 3.534 -1.689a3.474 3.474 0 0 0 -1.271 -4.745l-4.308 -2.514l-5.955 3.42" />
                  </svg>
                <h1>Inteligencia artificial</h1>
                <h2>Ofrece soluciones avanzadas de monitoreo y protección mediante el uso de inteligencia artificial.</h2>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="beneficios">
        <div class="cards">
            <div class="card">
                <div class="img"><img src="../../assets/img/untitled-1.webp" alt=""></div>
                <div class="beneficios-text">
                    <h1>Promocion de la seguridad en la carretera</h1>
                    <p>Envía alertas inmediatas sobre comportamientos de manejo arriesgados.
                        Ayuda a las flotas a reducir los costos relacionados con accidentes y reclamaciones mediante la detección temprana de riesgos.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../../assets/img/untitled-2.webp" alt=""></div>
                <div class="beneficios-text">
                    <h1>Pruebas visuales mediante videos</h1>
                    <p>Los videos muestran todo lo que hace un conductor. En caso de accidentes, estos videos pueden ayudar a demostrar que los conductores no fueron culpables, respaldar reclamaciones o resolver disputas. Facilita la asistencia y la evaluación de daños en tiempo real con videos en vivo.</p>
                </div>
            </div>
            <div class="card">
                <div class="img"><img src="../../assets/img/untitled-3.webp" alt=""></div>
                <div class="beneficios-text">
                    <h1>Entrenamiento en tiempo real</h1>
                    <p>Advierte a los conductores con sonidos si están conduciendo distraídos o de manera insegura, pidiéndoles que corrijan su comportamiento al instante. Utiliza datos de conducción y videos para enseñar a los conductores sobre cómo ser más seguros al volante.</p>
                </div>
            </div>
        </div>
    </div>
</div>