<img id="beneficios" class="img-backgraund" src="../../assets/img/Asset 16.webp" alt="">
<h1 id="titulo">Beneficios</h1>
<div class="content">
    <div class="content-beneficios">
            <img id="img-up" src="../../assets/img/Asset 17.webp" alt="">
            <h1>Promocion de la seguridad en la carretera</h1>
            <p>     Envía alertas inmediatas sobre comportamientos
                    de manejo arriesgados.<br/>
                    Ayuda a las flotas a reducir los costos relacionados
                    con accidentes y reclamaciones mediante la detección
                    temprana de riesgos.</p>
    </div>
    <div id="img-reverse" class="content-beneficios">
        <div class="content-beneficios-2">
            <h1>Pruebas visuales mediante videos</h1>
            <p> Los videos muestran todo lo que hace un conductor.<br/>
                En caso de accidentes, estos videos pueden ayudar a
                demostrar que los conductores no fueron culpables, respaldar
                reclamaciones o resolver disputas.<br/>
                Facilita la asistencia y la evaluación de daños en tiempo real
                con videos en vivo.</p>
        </div>
                <img id="img-down" src="../../assets/img/Asset 18.webp" alt="">
    </div>
    <div class="content-beneficios">
        <img id="img-up" src="../../assets/img/Asset 19.webp" alt="">
        <h1>Entrenamiento en tiempo real para conductores</h1>
        <p> Advierte a los conductores con sonidos
            si están conduciendo distraídos o de manera
            insegura, pidiéndoles que
            corrijan su comportamiento
            al instante. <br/>
            Utiliza datos de conducción y videos
            para enseñar a los conductores sobre
            cómo ser más seguros al volante.</p>
</div>
</div>
