
.box-three{
    background-image: url(../../assets/img/583702584_186124562_1706x960.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box-three p{
    color: #f9f9f9;
    padding: 10% 20% 10% 20%;
    text-align: center;
    font-size: 25px;
    font-weight: 650;
    text-shadow: 1px 1px 1px #1d1d1d;
    font-family: var(--font-size);
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    display: grid;
    grid-template-columns: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
   text-align: center;
    width: 100%;
    padding: 2% 0 2% 0;
}
.content-2{
    display: grid;
    background-color: #f9f9f9;
    grid-template-columns: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
   text-align: center;
    width: 100%;
    padding: 2% 0 2% 0;
}
.content h1{
    font-family: var(--font-size);
font-size: 50px;
font-weight: 900;
}
.content-2 h1{
    font-family: var(--font-size);

font-size: 50px;
font-weight: 900;
}
.tarjetas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 20px 0;
    border-left: 1px solid black;
}
.texto{
    width: 50%;
    text-align: start;

}
.texto .btn{
 padding: 10px;
 margin-left: 75%;

}
#btn{
    margin-left: 0;
}


.texto h1{
font-size: 40px;
font-family: var(--font-size);

}
.img img{
    border-radius: 10px;
}
#titulo{
    background-repeat: no-repeat;
    text-align: center;
    background-color: #f9f9f9;
    height: 400px;
    font-size: 40px;
    font-weight: 900;
    font-family: var(--font-size);
}
.header{
    margin: 5% 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h1{
    margin: 0 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img{
    width: 50%;
padding-right: 2%;
}
@media(max-width:1110px){
    .content{
        display: grid;
        grid-template-columns: 100%;
        background-repeat: no-repeat;
        background-size: cover;
       text-align: center;
        width: 100%;
        padding: 2% 0 2% 0;
    }
    .content-2{
        display: grid;
        grid-template-columns: 100%;
        background-repeat: no-repeat;
        background-size: cover;
       text-align: center;
        width: 100%;
        padding: 2% 0 2% 0;
    }
    .box-three{
        background-image: url(../../assets/img/583702584_186124562_1706x960.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .box-three p{
        color: #f9f9f9;
        padding: 10% 2% 10% 2%;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        text-shadow: 1px 1px 1px #1d1d1d;
        font-family: var(--font-size);
    } 
    .texto .btn{
        padding: 10px;
        margin-left: 0;
       
       }
       #btn{
        margin-left: 1%;
    }
    .img img{
        width: 100%;
        }
        .texto h1{
            font-size: 20px;
            font-family: var(--font-size);
            
            }
            .texto{
    width: 80%;
    text-align: start;

}
        .texto p{
            font-size: 15px;
            font-family: var(--font-size);
            
            }
            .tarjetas{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 20px 0 20px 0;
                border-left: 1px solid black;
                width: 100%;
            }
            .reverse{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding: 20px 0 20px 0;
                border-left: 1px solid black;
            }
            .texto{
                width: 90%;
                text-align: center;
            
            }
}