<div class="header">
    <!-- <h1 >Soluciones</h1> -->
<img src="../../assets/img/Asset 13.webp" alt="">
   </div>

<div class="content">
    <div class="tarjetas">
            <div class="img">
                <img  src="../../assets/img/Asset 36.png" alt="">

            </div>
            <div class="texto">
                <h1>Sistemas ADAS & DSM</h1>
                <p>ADAS y DSM son tecnologías de seguridad en automóviles. ADAS asiste al conductor con funciones como frenado de emergencia, mientras que DSM monitorea la atención del conductor. Juntos, previenen accidentes y mejoran la conducción.</p>
                <!-- <button class="btn btn-dark">Conocer más</button> -->
            </div>
        
    </div>
    <div class="tarjetas reverse">
           
        <div class="texto">
            <h1>Control de pasajeros</h1>
            <p>El control de boletaje asegura una distribución ordenada de entradas y un acceso fluido para tus unidades, lo que evita problemas logísticos y garantiza una experiencia satisfactoria.</p>
            <!-- <button id="btn" class="btn btn-dark">Conocer más</button> -->
        </div>
        <div class="img">
            <img  src="../../assets/img/Asset 37.png" alt="">

        </div>
    
</div>
  
</div>

<div class="content-2">
    <div class="tarjetas reverse">
            
            <div class="texto">
                <h1>Localización GPS</h1>
                <p>La localización GPS es fundamental en la navegación y seguimiento, ofreciendo precisión y seguridad en la ubicación de tus unidades, optimizando la eficiencia y brindando tranquilidad en tiempo real.</p>
                <!-- <button id="btn" class="btn btn-dark">Conocer más</button> -->
            </div>
            <div class="img">
                <img  src="../../assets/img/Asset 38.png" alt="">

            </div>
        
    </div>
    <div class="tarjetas">
        <div class="img">
            <img  src="../../assets/img/Asset 39.png" alt="">

        </div>
        <div class="texto">
            <h1>Plataforma y pasajeros</h1>
            <p> Garantizar su coordinación y seguridad es fundamental para una experiencia satisfactoria y sin contratiempos.</p>
            <!-- <button class="btn btn-dark">Conocer más</button> -->
        </div>
    
</div>

</div>
<div class="content">
    <div class="tarjetas">
            <div class="img">
                <img  src="../../assets/img/Asset 40.png" alt="">

            </div>
            <div class="texto">
                <h1>Control de boletaje</h1>
                <p>El control de boletaje es esencial para la gestión de tus flotillas, garantizando una distribución eficiente de entradas y un acceso fluido para los asistentes lo que contribuye a una experiencia exitosa.</p>
                <!-- <button class="btn btn-dark">Conocer más</button> -->
            </div>
        
    </div>
    <div class="tarjetas reverse">
           
        <div class="texto">
            <h1>Alarmas personalizadas</h1>
            <p>Las alarmas personalizadas ofrecen una seguridad adaptada a las necesidades individuales, brindando tranquilidad y protección en todo momento, con alertas diseñadas específicamente para cada situación.</p>
            <!-- <button id="btn" class="btn btn-dark">Conocer más</button> -->
        </div>
        <div class="img">
            <img  src="../../assets/img/Asset 41.png" alt="">

        </div>
    
</div>
</div>


<div class="box-three">
    <p>Nuestras <span>soluciones</span> abarcan desde cámaras de vigilancia hasta una plataforma de monitoreo, ofreciendo protección avanzada para el sector público y privado. Con nosotros, la confianza y tranquilidad se fusionan para brindar <span class="itallic">La Seguridad de Verlo Todo.</span></p>
   </div>