<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<div class="content">
<img id="img-layout" src="../../assets/img/Asset 3.webp" alt="">
<div id="solucion" class="servicios-titulo">
    <h1 >Nuestras soluciones</h1>
    <img src="../../assets/img/Asset 13.webp" alt="">
</div>
<div class="servicios_img">
    <div class="img-servicios">
        <img src="../../assets/img/Asset 6 (2).webp" alt="">
        <h1>Sistemas ADAS  DSM</h1>
    </div>
    <div class="img-servicios">
        <img src="../../assets/img/Asset 7.webp" alt="">
        <h1>Control de pasajeros</h1>
    </div>
    <div  class="img-servicios">
        <img src="../../assets/img/Asset 8.webp" alt="">
        <h1>Localizacion GPS</h1>
    </div>
    <div  class="img-servicios">
        <img src="../../assets/img/Asset 9.webp" alt="">
        <h1>Plataforma y pasajeros</h1>
    </div>
    <div  class="img-servicios">
        <img src="../../assets/img/Asset 11.webp" alt="">
        <h1>Control de boletaje</h1>
    </div>
        <div  class="img-servicios">
            <img src="../../assets/img/Asset 12.webp" alt="">
            <h1>Alarmas personalizadas</h1>
        </div>
</div>
</div>

