*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.img{
position: absolute;
z-index: -1;
}
#img-center{
    width: 100%;

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 3.5%;
}
.content img{
    width: 26%;
}

.content h1{
    color: #333;
   font-size: 40px;
   font-weight: 500;
   font-family: "Montserrat", sans-serif;
   position: relative;
   margin-top: 2%;
}
p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 30px 30% 0 30%;

}
#chatea{
    font-size: 20px;
    font-weight: 600;

}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #00B1D4;
    padding: 1px 5px 1px 10px;
    border-radius: 50px;
    border: none;
    margin-top: 2%;
    margin-bottom: 25%;

}
#button-img{
  width: 20%;
}
a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;

}
a:hover{
    font-size: 25px;
    color: #322888;
    text-decoration: none;

}
.content-descargas{
margin-top: 15%;

}

@media(max-width:1110px){

    .content img{
        width: 100%;
    }
    .content h1{
        color: #333;
       font-size: 50px;
       font-weight: 500;
       font-family: "Montserrat", sans-serif;
       position: relative;
       margin-top: 5%;
       padding: 0;
    }
    p{
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
        padding: 20px 10px 10px 10px;
    
    }
    #chatea{
        font-weight: 600;
        margin-bottom: 0;  
    
    }   
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00B1D4;
        padding: 1px 0 1px 0;
        margin-bottom: 30px;
        border-radius: 50px;
        border: none;
        margin-bottom: 20%;
      
    }
    button a{
       font-size: 20px;
      
    }
    #button-img{
       width: 20%;
      
    }
}