<router-outlet></router-outlet>
<app-navbar ></app-navbar>

<div class="img">
    <img id="img-center" src="../../assets/img/Asset 28.webp" alt="">
</div>
    <div class="content">
        <h1>Soporte Técnico.</h1>
        <img src="../../assets/img/Asset 31.webp" alt="">
        <p id="chatea" >Chatea con Nosotros  Soporte Técnico en Smart Systems</p>
        <p>¡Bienvenido!<br/>     ¿Necesitas ayuda técnica? Estamos aquí
            para resolver tus dudas y problemas al instante. Haz clic
            en "Chatea con Nosotros" y conecta con nuestro equipo
            de soporte técnico de Smart Systems.</p>
            <button> <a href="https://api.whatsapp.com/send/?phone=3326661297&text=Hola%21+Quiero+pedir+mas+informes+sobre+Smart+Systems.&type=phone_number&app_absent=0">Chatea con nostros!</a> <img id="button-img" src="../../assets/img/Asset 23.webp" alt=""></button>
        </div>
        
         <!-- <div class="content-descargas">
            <app-descargas></app-descargas>
        </div> -->
             <!-- <div class="">
            <app-academia></app-academia>
        </div>  -->
         <div class="">
            <app-footer></app-footer>
        </div>

        
    
    

    