/* * {
    color: black;
    z-index: 10;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 10px;
    height: 780px;
    gap: 80px;
}

.content {
    display: flex;
    
}

.content-img {
    z-index: -9999;
    position: relative;
    width: 80%;
}

.imagen-text img {
    border-radius: 20PX;
    width: 90%;
}

.imagen-text {
    border-radius: 100%;
}

.content-first {
    display: flex;
    padding-top: 10%;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 6%;
    padding-right: 6%;
    gap: 50px;
}


.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.content-text h1 {
    font-size: 5vh;
}

.content-text h2 {
    font-size: 2.5vh;
    font-family: "Montserrat", sans-serif;
}



.text h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

.text p {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

span {
    color: #042144;
}

.one {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #00e4f1;
}

.one_intern {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #002843;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    z-index: 11;
}

.one_intern:hover {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #002843;
    margin-left: 8%;
    margin-top: 8%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00e4f1;
    font-size: 25px;
    font-weight: bold;
}



@media(max-width: 1110px) {
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 10px;
        height: 900px;
    }

    #content-img-2 {
        display: none;
    }

    #content-img {
        display: none;
        width: 100%;
    }
} */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.content{
width: 100%;
background-image: url(../../assets/img/3325185.jpg);
background-size: cover;
object-fit: cover;
}
.content h1{
    color: #f1f1f1;
text-align: center;
font-size: 500%;
font-weight: 700;
margin-top: 2%;
font-family: "Montserrat", sans-serif;
margin-bottom: 5%;

}


.wrapper-card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-cards {
    height: 520px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-start;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 0px 250px 0px rgba(54, 109, 211, 0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 200px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #ffffff;
    padding-top: 5px;
    font-weight: 520;
    text-shadow: 1px 1px 4px #003881;

}

.description h4 {
    font-weight: 800;
    text-transform: uppercase;
}
#como-hacerlo{
display: none;
}

input {
    display: none;
}

input:checked + label {
    width: 50%;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('../../assets/img/AnyConv.com__quienes-somos-imágenes7.webp');
}
.card[for="c2"] {
    background-image: url('../../assets/img/AnyConv.com__quienes-somos-imágenes-2.webp');
}
.card[for="c3"] {
    background-image: url('../../assets/img/AnyConv.com__quienes-somos-imágenes3.webp');
}
.card[for="c4"] {
    background-image: url('../../assets/img/AnyConv.com__quienes-somos-imágenes4.webp');
}
.card[for="c5"] {
    background-image: url('../../assets/img/AnyConv.com__quienes-somos-imágenes5.webp');
}
.card[for="c6"] {
    background-image: url('../../assets/img/AnyConv.com__quienes-somos-imágenes6+.webp');
}
@media(max-width:1110px){
    .content{
        width: 100%;
        background-image: none;
        background-size: cover;
        object-fit: cover;
        }
    .container-cards {
        height: 620px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30%;
        gap: 10px;
    }
    input:checked + label {
        width: 95%;
    }
    .card {
        width: 95%;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        border-radius: 1rem;
        display: flex;
        align-items: flex-start;
        transition: .6s cubic-bezier(.28,-0.03,0,.99);
        box-shadow: 0px 0px 250px 0px rgba(54, 109, 211, 0.8);
    }
    #como-hacerlo{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 250%;
        color: var(--color-black);
        font-weight: 750;
        }
    .wrapper-card {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .description h4{
    font-size: 16px;
    margin-bottom: 20%;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px #333;
    padding-right: 2%;
    
   }
   .description p {
    display: none;


}
    
}