
<div class="content">
    
        <h1 id="como-hacerlo">¿Como lo hacemos?</h1>
    
<div class="wrapper-card">
    <div class="container-cards">
        <input type="radio" name="slide" id="c1" checked>
        <label for="c1" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                    <h4>Consulta Personalizada</h4>
                    <p>
                        Iniciamos cada proyecto con una consulta personalizada. Nos reunimos con nuestros clientes de Smart Systems para entender sus necesidades y desafíos específicos, lo que nos permite diseñar soluciones adaptadas a sus requisitos únicos.</p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c2" >
        <label for="c2" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                    <h4>Evaluación del Entorno</h4>
                    <p>
                        Realizamos una evaluación exhaustiva del entorno donde se implementarán nuestras soluciones. Analizamos la flota de vehículos, identificamos puntos de instalación clave y evaluamos los requisitos técnicos y de seguridad para garantizar una implementación efectiva.                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c3" >
        <label for="c3" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                    <h4>Propuesta Personalizada</h4>
                    <p>
                        Basándonos en la información recopilada, presentamos a nuestros clientes de Smart Systems una propuesta personalizada. Esto incluye detalles precisos sobre los productos recomendados, la planificación de la instalación y un cronograma estimado para su aprobación.</p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c4" >
        <label for="c4" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                    <h4>Instalación Profesional</h4>
                    <p>
                        Nuestro equipo altamente capacitado y experimentado realiza la instalación de manera profesional y eficiente. En Smart Systems, nos comprometemos a minimizar cualquier interrupción durante el proceso, garantizando una transición sin contratiempos.</p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c5" >
        <label for="c5" class="card">
            <div class="row">
                <div class="icon">5</div>
                <div class="description">
                    <h4>  Capacitación y Soporte</h4>
                    <p>
                      
                        Ofrecemos capacitación completa a los conductores y al personal de operaciones de Smart Systems después de la instalación. Además, nuestro equipo de soporte técnico está siempre disponible para resolver consultas y problemas, asegurando una experiencia continua y positiva.</p>
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="c6" >
        <label for="c6" class="card">
            <div class="row">
                <div class="icon">6</div>
                <div class="description">
                    <h4>Seguimiento Continuo</h4>
                    <p>
                        En Smart Systems, mantenemos una relación continua con nuestros clientes, proporcionando actualizaciones periódicas, asesoramiento técnico y servicios de mantenimiento. Nos comprometemos a garantizar que los sistemas implementados funcionen de manera óptima a lo largo del tiempo.</p>
                </div>
            </div>
        </label>
    </div>
</div>
</div>