<div id="como" class="content-first">
    <img id="content-img-2" width="100%" src="../../assets/img/Asset 15.webp" alt="">

    <div class="content">
        <div id="content-img-2" class="principal">
            <div class="one" data-src="../../assets/img/Artboard-script1.png" data-text="Consulta Personalizada
            Iniciamos cada proyecto con una consulta personalizada. Nos reunimos con nuestros clientes de Smart Systems para 
            entender sus necesidades y desafíos específicos, permitiéndonos diseñar soluciones adaptadas a sus requisitos únicos.">
                <div class="one_intern">1</div>
            </div>
            <div class="one" data-src="../../assets/img/Artboard-script2.png" data-text="Evaluación del Entorno
            Realizamos una evaluación exhaustiva del entorno donde se implementarán nuestras soluciones. Analizamos la flota de
            vehículos, identificamos puntos de instalación clave y evaluamos los requisitos técnicos y de seguridad para garantizar una
            implementación efectiva.">
                <div class="one_intern">2</div>
            </div>
            <div class="one" data-src="../../assets/img/Artboard -script3.png" data-text="Propuesta Personalizada
            Basándonos en la información recopilada, presentamos a nuestros clientes de Smart Systems una propuesta personaliza
            da. Esto incluye detalles precisos sobre los productos recomendados, la planificación de la instalación y un cronograma
            estimado para su aprobación.">
                <div class="one_intern">3</div>
            </div>
            <div class="one" data-src="../../assets/img/Artboard-script4.png" data-text="Instalación Profesional
            Nuestro equipo altamente capacitado y experimentado realiza la instalación de manera profesional y eficiente. En Smart
            Systems, nos comprometemos a minimizar cualquier interrupción durante el proceso, garantizando una transición sin con
            tratiempos.">
                <div class="one_intern">4</div>
            </div>
            <div class="one" data-src="../../assets/img/Artboard-script5.png" data-text="Capacitación y Soporte
            Ofrecemos capacitación completa a los conductores y al personal de operaciones de Smart Systems después de la insta
            lación. Además, nuestro equipo de soporte técnico está siempre disponible para resolver consultas y problemas, aseguran
            do una experiencia continua y positiva.">
                <div class="one_intern">5</div>
            </div>
            <div class="one" data-src="../../assets/img/Artboard-script6.png" data-text="Seguimiento Continuo
            En Smart Systems, mantenemos una relación continua con nuestros clientes, proporcionando actualizaciones periódicas,
            asesoramiento técnico y servicios de mantenimiento. Nos comprometemos a garantizar que los sistemas implementados
            funcionen de manera óptima a lo largo del tiempo.">
                <div class="one_intern">6</div>
            </div>
        </div>
    </div>
    <div class="content-text">
        <div class="text-content">
            <h1>Como lo hacemos en <span>Smart Systems</span></h1>
            <h2 class="text">En <span>Smart Systems</span>, nos dedicamos a proporcionar soluciones avanzadas
                de instalación de MDVR, Dashcams y plataformas de monitoreo GPS, destacándonos
                por nuestro enfoque integral y orientado al cliente. Nuestro
                proceso se rige por principios fundamentales que garantizan resultados
                excepcionales:</h2>
            <div class="imagen-text">
                <img id="main-img" width="100%" src="../../assets/img/logo2.webp" alt="">
            </div>
            
        </div>
    </div>
</div>
